[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-toggle-sidebar-plugin = "*"

[dev-packages]

[requires]
python_version = "3.12"
