Django==5.2.5
django-redis==6.0.0
django-tenants==3.8.0
djangorestframework==3.16.1
psycopg2-binary==2.9.10
celery==5.5.3
redis==5.2.1
requests==2.32.4

# Dev tools
pytest==8.4.1
pytest-django==4.11.1
ipython==9.4.0
